body{
    background-color: #fffefe;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h4{
    color:teal;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
legend{
    font-size: 30px;
    color: rgb(17, 177, 177);
}

.nav2{
    font-size: 20px;
}
.big{
    font-size: 23px;
}
.big2{
    font-size: 20px;
}