{% extends "base.html"%}
{% block nav %}
{% if user %}
{% if user.user_type=="Manager" %}
<li class="nav-item nav2 ms-4 ps-3">
    <a class="nav-link text-dark" href="{{url_for('user_list')}}">User List</a>

</li>
{% endif %}
<li class="nav-item nav2 ms-4 ps-3">
    <a class="nav-link text-dark" href={{url_for("user_settings")}}>Settings</a>
</li>
<li class="nav-item nav2 ms-4 ps-3">
    <a class="nav-link text-dark" href={{url_for("create_order")}}> Order</a>
</li>
<li class="nav-item nav2 ms-4 ps-3">
    <a class="nav-link text-dark" href={{url_for("logout")}}>Logout</a>
</li>
{% endif %}
{% endblock %}
{% block body %}
<div class="container-fluid mt-5 pe-3 ps-3 me-2 ms-1">
    <div class="container-fluid mt-5 pe-3 ps-3 me-2 ms-1">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>{{product_type}}</h2>
            <form class="d-flex" role="search" method="POST">
                {{form.hidden_tag()}} 
                    {{form.search(class_="form-control me-2 pe-4", placeholder="Search")}}
                    {{form.search_btn(class="btn btn-outline-success", type="submit")}}
            </form>
        </div>
    <div class="row">
        <div class="col">
            {%for message in get_flashed_messages()%}
            <div class="text-center alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
            <table
                class="text-center table table-bordered border border-dark-subtle  table-responsive table-success table-striped table-group-divider">
                <tbody class="table-group-divider">
                    {% if product_type == "Products List" %}
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Brand Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Quanity</th>
                            <th scope="col">Date Added</th>
                            <th scope="col">Expiry</th>
                            <th scope="col">Add Stock</th>
                            <th scope="col">Remove Stock</th>
                        </tr>
                    </thead>
                    {% for product in products %}
                    <tr>
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.item_name}}</td>
                        <td>{{product.brand_name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.stock}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.date}}</td>
                        <td>{{product.expiry}}</td>
                        <td><a class="btn btn-sm btn-danger" href="{{url_for('add' ,id= product.id )}}">Add Stock</a>
                        </td>
                        <td><a class="btn btn-sm btn-success" href="{{url_for('delete' ,id= product.id )}}">Remove
                                Stock</a></td>
                    </tr>
                    {% endfor %}
                    {% elif product_type == "Expiry List" %}
                    {% if products %}
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Brand Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Quanity</th>
                            <th scope="col">Date Added</th>
                            <th scope="col">Expiry</th>
                            <th scope="col">Remove Stock</th>
                        </tr>
                    </thead>
                    {% for product in products %}
                    <tr>
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.item_name}}</td>
                        <td>{{product.brand_name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.stock}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.date}}</td>
                        <td>{{product.expiry}}</td>
                        <td><a class="btn btn-sm btn-success" href="{{url_for('delete' ,id= product.id )}}">Remove
                                Stock</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h3>No Items is Expiring</h3>
                    {% endif %}
                    {% else %}
                    <h1>Something Went Wrong </h1>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}